header {
    background-color: darkgray;
    position: relative;
    height: 50px;

  }
ul#main-nav {
    background-color: darkgray;
    width:
    height:

}

ul#main-nav li {
    background-color: darkgray;
    list-style-type: none;
}
ul#main-nav li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 10px 3px;
    font-size: 25px;
}

ul#main-nav li a:hover{
    color: white;
    background-color: gray;
}

h1 {
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color:red;
    padding: 15px;
    text-align: center;
    border: black 1px solid;
}

h3{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: orange;
    background-color: lightpink;
    padding: 15px;
    text-align: center;
    border: black 1px solid; 
}

body{
    background-color: skyblue;
}

.text {
    border: darkslategrey 3px solid;
    margin: 10px;
}
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategrey;
    text-align: center;
    text-justify: left;
    font-size: 25px;
}
img#main-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    padding: 10px;
}

table{
    margin-left: auto;
    margin-right: auto;
    border: white 5px dotted;
}

.table-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 25px;
}

th {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    border: black 3px solid;
}

img#old-lady {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 500px;
    padding: 15px;
}

ul#future-plans {
    border: black 5px solid;
    margin-left: auto;
    margin-right: auto;
}

ul#future-plans li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;

}

footer {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: red;
    text-align: center;
    border: black 1px solid;
}

ol#Favorites-List {
    border: black 5px solid;
    margin-left: auto;
    margin-right: auto;
}
ol#Favorites-List li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

img#dancing-gif {
    margin-left: auto;
    margin-right: auto;